{% extends "landing/base.html" %}
{% block title %}Finalizado!{% endblock title %}
{% block content %}
{% load qr_code %}
<div class="container">
    <div class="row justify-content-center mt-5 mb-3">
        <div class="form-background py-4 px-4">
            <div class="h2 text-center">{{participante.nombre}}</div>
            {% qr_from_text "https://bccelsalvador.treecloud.co/validate/"|add:participante.codigo_participante|add:"/" size="25" %}
        </div>
    </div>
</div>
{% endblock content %}